<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" type="text/css" href="static/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="static/slick/slick-theme.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="static/slick/slick.min.js"></script>
    </head>
    <body>
        <span id="logo">BLOOKLY.</span>
        <div class='books'>
            <img src="static/examples/fantasy_example.jpg">
            <img src="static/examples/fantasy_example2.jpg">
            <img src="static/examples/kids_example.jpg">
            <img src="static/examples/mystery_example.jpg">
            <img src="static/examples/romance_example.jpg">
            <img src="static/examples/sci-fi_example.jpg">
            <img src="static/examples/thriller_example.jpg">
        </div>
        <div class="formdiv">
            <form id="data" class="topBefore">   
                <input id="title" name="title" type="text" placeholder="TITLE" required>
                <input id="author" name="author" type="text" placeholder="AUTHOR" required>
                <input id="genre" name="genre" type="text" placeholder="GENRE" required> <!-- should be thriller/romance/kids/mystery/sci-fi/fantasy -->
                <div class="fileinput">IMAGE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="file" id="input_image" name="input_image" required></div>
                <input id="submit" type="submit" value="GENERATE BOOK COVER!">
            </form>
        </div>
        <script type="text/javascript" src="static/script.js"></script>

        <script>
            function inputImage(b64) {
                var findI = 0;

                for (i = 0; i < $(".books").slick('getSlick').slideCount; i++) {
                    if ($(".books").slick('getSlick').$slides[i].src.endsWith('loading.gif')) {
                        findI = i;
                    }
                }
                $(".books").slick('getSlick').$slides[findI].src = "data:image/jpeg;base64," + b64;
                $(".books").slick('slickGoTo', findI);
                $('.books')[findI].slick.refresh();
            }

            var showingExamples = true;

            $('#data').on('submit', uploadFiles);

            function uploadFiles(e) {
                e.stopPropagation();
                e.preventDefault();

                var formData = new FormData($(this)[0]);
                document.getElementById("data").reset();

                if (showingExamples) {
                    showingExamples = false;
                    $(".books").slick('slickRemove', null, null, true);
                }

                if ($(".books").slick('getSlick').slideCount == 0) {
                    $(".books").slick('slickAdd', "<img src='static/loading.gif'>");
                } else {
                    $(".books").slick('slickAdd', "<img src='static/loading.gif'>", 0, true);
                }

                $.ajax({
                    url: "/get_image",
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (data) {
                        inputImage(data);
                    },
                    error: function (data) {
                        $(".books").slick("slickRemove", 0);
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });

                return false;
            }

            $('.books').slick({
                centerMode: true,
                centerPadding: '0',
                slidesToShow: 3,
                autoplay: true,
                autoplaySpeed: 2000,
            });
        </script>
    </body>
</html>