<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" type="text/css" href="static/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="static/slick/slick-theme.css"/>
    </head>
    <body>
        <span id="logo">BLOOKLY.</span>
        <div class='books'>
            <img id="result-img" src="https://via.placeholder.com/500x800">
            <img src="https://via.placeholder.com/500x800">
            <img src="https://via.placeholder.com/500x800">
            <img src="https://via.placeholder.com/500x800">
            <img src="https://via.placeholder.com/500x800">
        </div>
        <div class="formdiv">
            <form id="data" class="topBefore">   
                <input id="title" name="title" type="text" placeholder="TITLE">
                <input id="author" name="author" type="text" placeholder="AUTHOR">
                <input id="genre" name="genre" type="text" placeholder="GENRE"> <!-- should be thriller/romance/kids/mystery/sci-fi/fantasy -->
                <div class="fileinput">IMAGE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="file" id="input_image"></div>
                <input id="submit" name="submit" type="submit" value="GENERATE BOOK COVER!">
            </form>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="static/slick/slick.min.js"></script>
        <script type="text/javascript" src="static/script.js"></script>
    </body>
</html>