<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" type="text/css" href="static/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="static/slick/slick-theme.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="static/slick/slick.min.js"></script>
    </head>
    <body>
        <span id="logo">BLOOKLY.</span>
        <div class='books'>
            <img id="result-img" src="static/loading.gif">
            <img src="static/loading.gif">
            <img src="static/loading.gif">
            <img src="static/loading.gif">
            <img src="static/loading.gif">
        </div>
        <div class="formdiv">
            <form id="data" class="topBefore">   
                <input id="title" name="title" type="text" placeholder="TITLE">
                <input id="author" name="author" type="text" placeholder="AUTHOR">
                <input id="genre" name="genre" type="text" placeholder="GENRE"> <!-- should be thriller/romance/kids/mystery/sci-fi/fantasy -->
                <div class="fileinput">IMAGE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="file" id="input_image" name="input_image"></div>
                <input id="submit" type="submit" value="GENERATE BOOK COVER!">
            </form>
        </div>
        <script type="text/javascript" src="static/script.js"></script>

        <script>
            $('#data').on('submit', uploadFiles);

            function uploadFiles(e) {
                e.stopPropagation();
                e.preventDefault();

                var formData = new FormData($(this)[0]);

                $.ajax({
                    url: "/get_image",
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (data) {
                        $("#result-img").attr("src", "data:image/jpeg;base64," + data)
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });

                return false;
            }

            $('.books').slick({
                centerMode: true,
                centerPadding: '0',
                slidesToShow: 3,
                autoplay: true,
                autoplaySpeed: 2000,
            });
        </script>
    </body>
</html>